<div class="post-list">
	<h3>Blog</h3><div id="notice"><%= notice %></div>
	<ul class="unstyled">
		<hr></hr>
		<% @posts.each do |post| %>
			<li>
				<i class="icon-book"></i>
				<span class=""><%= link_to post.title, post_path(post) %></span>
				<span class="pull-left post-date"><%= post.created_at.strftime('%m.%d  %Y') %></span>
		
			<% if current_user != nil %>
				<div>
					<%= link_to "Edit", edit_post_path(post) %>
					<%= link_to "Delete", post, :confirm => "削除しますよー",
							:method => :delete %>
				</div>
			<% end %>
			</li>
			<hr></hr>
		<% end %>
	</ul>
</div>

<!-- 
<table class="table table-hover">
	
	<tbody>

		<% @posts.each do |post| %>
		<tr>
		<td><%= link_to post.title, post_path(post) %></td>
		<td><%= post.created_at.strftime('%m.%d  %Y') %></td>

		<% if current_user != nil %>
		<td><%= link_to "Edit", edit_post_path(post) %></td>
		<td><%= link_to "Delete", post, :confirm => "削除しますよー",
							:method => :delete %></td>
		<% end %>

<% end %>
</tr>
</tbody>
</table>
-->

<%= link_to "TOP", "/", :class => "btn" %> 
<!--　ログインしてる時だけ表示 -->
<% if current_user != nil %>
<%= link_to "New", new_post_path %>
<% end %>
<!-- サイドバーの内容を定義 -->
<% content_for :sidebar do %>
<ul class="unstyled">
	<h4>最近の投稿</h4>
	<% @resent_posts.each do |post| %>
	<li>
		<%= link_to post.title, post_path(post) %>
		<span class="pull-right"><td><%= post.created_at.strftime('%m.%d %Y') %></span>
	</li>
	<% end %>
</ul>
<% end %>



<!-- noticeメッセージを時間がたったら消えるようにjQueryで指定 -->
<script>
$(function(){
	setTimeout(function(){
		$("#notice").fadeOut("slow");
	}, 800);
});
</script>